# =========================
# Keil
# =========================

Objects/
Listings/
Debug/
Release/
DebugConfig/

*.o
*.d
*.crf
*.map
*.axf
*.lst
*.lib
*.dep
*.lnp

*.uvguix.*
*.uvoptx

# =========================
# VS Code
# =========================

.vscode/

# =========================
# Logs / Temp
# =========================

AGENTS.md
*.log
*.tmp
*.bak

# =========================
# System
# =========================

.DS_Store
Thumbs.db
